
<div class="container-fluid mx-auto">
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top shadow LarguraNav ms-auto" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand navbar-center" href="#"><i class="bi-car-front" style="font-size: 2rem; "> NovoCar</i>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <!-- Aqui pegamos a lista de item menu e adicionamos a navibar -->
          @for (item of itemsMenu; track $index) {
            <li class="nav-item">
              <!-- Utilizo aqui o Event Binding para rolar até a sessão-->
              <a class="nav-link iconeLogin cursor"  (click)="rolarPara(item)">{{item}}</a>
            </li>
          }
        </ul>
        <!-- Caso seja implentado um login é aqui -->
        <!-- <div class="d-flex ms-auto"> <a class="iconeLogin" href="#"><i class="bi bi-person-circle"></i> Login</a></div> -->
      </div>
    </div>

  </nav>


</div>