.navbar-center { 
    position: absolute; 
    left: 50%; 
    transform: 
    translateX(-50%);}

.iconeLogin{
    color: gray;
    text-decoration: none;
    transition: color 0.3s ease;
}

.iconeLogin:hover{
    color: whitesmoke;
}

.LarguraNav {
    height: 80px;
}
