

<section class="bsb-hero-1 px-3 bsb-overlay bsb-hover-pull mt-5" style="background-image: url('https://img.freepik.com/vetores-gratis/espumante-arvore-estrela-de-natal-em-fundo-vermelho_1017-35706.jpg?semt=ais_hybrid'); height: 300px;">
    <div class="container">
      <div class="row justify-content-md-center">
        <div class="col-12 col-md-11 col-lg-9 col-xl-7 col-xxl-6 text-center text-white">
          <h2 class="display-3 fw-bold mb-3">{{titulo1}}</h2>
          <p class="lead mb-5">{{detalhes}}</p>
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn bsb-btn-xl btn-light gap-3" (click)="botaoClique()">Simulação grátis</button>
            <button type="button" class="btn bsb-btn-xl btn-outline-light">Pagar com créditos</button>
          </div>
        </div>
      </div>
    </div>
  </section>