/* You can add global styles to this file, and also import other style files */
:root {
    --primary-color: #23262b;
    --second-color: #DCDCDC;
    --sucess-color: green;
    --text-color: #fff;
    --icon-color: #fff;
    --botoes-card-color: gray;
    
}
.navbar{
    background-color: var(--primary-color) !Important;
    color: var(--second-color) !Important;
}
.collapse{
    background-color: var(--primary-color)!Important;
    color: var(--second-color) !Important;

}
.bi-car-front{
    color: var(--icon-color)!Important;

}

.botoes-card{
    background-color: var(--primary-color)!Important;
    color: var(--text-color)!Important;
    
}
.cursor{
    cursor: pointer;
}

body{
    background-color: var(--second-color)!Important;
}

